body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

#calculator {
  width: 700px;
  margin: 0 auto;
}

#result {
  background: #848492;
  height: 100px;
  font-weight: bold;
  color: white;
  text-align: right;
  font-size: 90px;
  padding: 0.1em;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#buttons > * {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

#buttons > * > * {
  font-size: 1.5em;
  border: 1px solid lightgray;
}
